body { background-color: #fff; }
header {
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    line-height: 60px;
    color: #444;
    z-index: 3;
}
header div,
header h1 {
    display: inline-block;
    margin: -2px;
    color: #444;
    font-size: 20px;
    margin-left: 2.5%;
    font-family: RobotoBold;
}
header #toggleMenu {
    margin-left: 2.5%;
    font-size: 17px;
    cursor: pointer;
    float: left;
}
header .logo {
    height: 45px;
    margin-top: 10px;
    margin-left: 2.5%;
    float: left;
}

nav.menu {
    position: fixed;
    top: 60px;left: 0px;bottom: 0px;
    width: 80px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow: auto;
    transition: 0.4s;
}
nav.menu.active { 
    width: 25%;
 }
nav.menu::-webkit-scrollbar {
    background-color: #eee;
    width: 5px;
}
nav.menu::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 90px;
}
nav.menu::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9;
}
nav.menu .super { margin: 7%; }
nav.menu a {
    color: #444;
}
nav.menu li {
    list-style: none;
    line-height: 55px;
    font-size: 16px;
    margin-bottom: 10px;
}
nav.menu li div {
    display: inline-block;
}
nav.menu li .icon {
    width: 100%;
    text-align: center;
}
nav.menu.active li .icon {
    width: 40px;
}
nav.menu li.active {
    background-color: #3498db;
    color: #fff;
    padding: 0px 20px;
    border-radius: 6px;
}
nav.menu li .text {
    display: none;
}
nav.menu.active li .text {
    display: inline-block;
}

.content {
    position: absolute;
    top: 80px;left: 100px;right: 5%;
}
.content > .wrap { margin: 2.5%; }
.content.active {
    left: 30%;top: 120px;
}
.content.active > .wrap { margin: 0%; }