body {
	background-color: #fff;
}
a { color: #444; }
header {
	position: fixed;
	top: 0px;left: 0px;right: 0px;
	box-shadow: 1px 1px 5px 1px #ddd;
	background-color: #fff;
	z-index: 2;
	line-height: 65px;
}
.container {
	position: absolute;
	top: 50px;left: 5%;right: 5%;
}

.navigation {
	position: fixed;
	bottom: 0px;left: 0%;right: 0%;
	border-top: 1px solid #ddd;
	background-color: #fff;
	line-height: 50px;
	text-align: center;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.navigation i.active {
	color: #3498db;
}